* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(22, 8%, 10%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(22, 8%, 15%);

  &:hover {
    background-color: hsl(22, 8%, 20%);
  }
}

@keyframes animate-star-1 {
  0% {
    transform: scale(0.7) rotate(-15deg);
    opacity: 0.2;
  }

  50% {
    transform: scale(1) rotate(-15deg);
    opacity: 1;
  }

  100% {
    transform: scale(0.7) rotate(-15deg);
    opacity: 0.2;
  }
}

@keyframes animate-star-2 {
  0% {
    transform: scale(1) rotate(15deg);
    opacity: 1;
  }

  50% {
    transform: scale(0.7) rotate(15deg);
    opacity: 0.2;
  }

  100% {
    transform: scale(1) rotate(15deg);
    opacity: 1;
  }
}
