.items {
  position: relative;

  .shape__big {
    bottom: -8rem;
    right: -8rem;
  }

  .items_container {
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 4rem 1.5rem;
  }

  .items_card {
    position: relative;
    background-color: var(--container-color);
    border-radius: 1.5rem;
    padding: 4rem 1.25rem 1.25rem;
    box-shadow: 0 4px 16px hsla(22, 10%, 2%, 0.3);
    text-align: center;

    .items_image {
      width: 100px;
      position: absolute;
      inset: 0;
      top: -2rem;
      margin: 0 auto;
      transition: transform 0.3s;
    }

    &:hover .items_image {
      transform: translateY(-0.5rem);
    }

    .items_name {
      font-size: var(--normal-font-size);
      font-weight: var(--font-medium);
      margin-bottom: 0.25rem;
    }

    .items_price {
      display: block;
      font-weight: var(--font-semi-bold);
      color: var(--first-color);
      margin-bottom: 0.5rem;
    }

    .items_button {
      display: inline-flex;
      background-color: var(--first-color);
      color: var(--white-color);
      padding: 0.25rem 1.5rem;
      border-radius: 4rem;
      cursor: pointer;
      transition: background 0.3s;
      border: none;
      outline: none;

      i {
        font-size: 1.25rem;
      }

      &:hover {
        background-color: var(--first-color-alt);
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .items {
    .items_container {
      grid-template-columns: 180px;
    }
  }
}

@media screen and (min-width: 576px) {
  .items {
    .items_container {
      grid-template-columns: repeat(2, 200px);
    }
  }
}

@media screen and (min-width: 1024px) {
  .items {
    .shape__big {
      bottom: -12rem;
    }

    .items_container {
      grid-template-columns: repeat(3, 200px);
      gap: 6rem 3.5rem;
    }

    .items_card {
      padding: 6rem 1rem 1.5rem;

      .items_image {
        width: 130px;
      }

      .items_name {
        font-size: var(--h3-font-size);
      }

      .items_button i {
        font-size: 1.5rem;
      }
    }
  }
}
