.party {
  position: relative;

  .party_container {
    row-gap: 5rem;

    .section__title {
      margin-bottom: 1rem;
    }

    .party_data {
      text-align: center;
    }

    .party_description {
      margin-bottom: 2rem;
    }

    .party_images {
      position: relative;
      justify-self: center;
    }

    .party_image {
      width: 250px;
    }

    .party_star-1,
    .party_star-2 {
      width: 50px;
      position: absolute;
      transform: rotate(15deg);
    }

    .party_star-1 {
      top: -3rem;
      left: -0.5rem;
      animation: animate-star-1 5s infinite ease-in-out;
    }

    .party_star-2 {
      right: -1.5rem;
      bottom: 2rem;
      animation: animate-star-2 5s infinite ease-in-out;
    }
  }
}

@media screen and (max-width: 340px) {
  .party {
    .party_container {
      .party_image {
        width: 200px;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .party {
    .party_container {
      grid-template-columns: 0.6fr;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .party {
    .party_container {
      padding-top: 5rem;
      grid-template-columns: 0.7fr max-content;
      column-gap: 8rem;
      align-items: center;

      .section__title {
        text-align: initial;
        margin-bottom: 1.5rem;
      }

      .party_data {
        text-align: initial;
      }

      .party_description {
        margin-bottom: 2.5rem;
      }

      .party_image {
        width: 400px;
      }

      .party_star-1,
      .party_star-2 {
        width: 100px;
      }

      .party_star-1 {
        top: -5rem;
        left: -5rem;
      }

      .party_star-2 {
        right: -3rem;
        bottom: 3rem;
      }
    }
  }
}
